@tailwind base;
@tailwind components;
@tailwind utilities;

.news-slider {
  position: absolute;
  z-index: 20;
}

.news-slider > .slick-list {
  padding: 20px 20px !important;
}
.news-slider > .slick-list > .slick-track > .slick-slide {
  padding: 0px 10px;
}
